<!-- Uma View só pode conversar com uma única model -->

@model HomeModel
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a)!</h1>
    <p>Sistema de controle de Contatos</p>

</div>
