@model ContatoModel;
@{
    ViewData["Title"] = "Apagar contatos";
}

<div class="text-center">
    <h1 class="display-4"> Deseja deletar o contato? (@Model.Nome) </h1>
    <input type="hidden" asp-for="Id" />
</div>



<a class="btn btn btn-danger"
   type="button" 
   asp-controller="Contato"
   asp-route-id="@Model.Id"
   asp-action="ConfirmarExclusao">
   Apagar
</a>

<a class="btn btn btn-primary"
   asp-controller="Contato"
   asp-action="Index">
   Cancelar
</a>