@model ContatoModel
@{
    ViewData["Title"] = "Criar contato";
}
<div class="text-center">
    <h1 class="display-4"> Cadastrar contato </h1>
</div>

<form asp-controller="Contato" asp-action="Criar" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Digite o seu nome: </label>
        <input 
        type="text" asp-for="Nome" class="form-control" id="nomeId" aria-describedby="emailHelp" 
        placeholder="Nome completo">
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Digite o seu e-mail: </label>
        <input type="email" asp-for="Email" class="form-control" id="emailId" aria-describedby="emailHelp"
         placeholder="exemplo@gmail.com">
    </div>

    <div class="mb-3">
        <label for="number" class="form-label">Número de telefone: </label>
        <input type="tel" asp-for="Phone" class="form-control" id="numberId" aria-describedby="emailHelp"
         placeholder="(22) 99999999">
    </div>

    <button type="submit" class="btn btn-primary"> Enviar </button>
    <a class="btn btn-secondary btn-block" 
    asp-controller="Contato" asp-action="Index" 
    role="button"> Voltar </a>
</form>

